@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lalezar&family=Langar&display=swap');

body {
    background: #D1F0FF;
    margin: 0;
}

.container {
    position: relative;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
}

.menu {

    display: flex;
    justify-content: flex-end;
    background-color: #5d5c9f84;
    width: 100%;
    padding: 10px;
    top: 0;
    margin-top: 0;
    position: fixed;
    z-index: 999;
}

.menu li {
    display: inline-block;
    margin-right: 55px;
    font-family: "Kanit", sans-serif;
    color: #FFFF;
    cursor: pointer;
}

.menu li:last-child {
    margin-right: 60px;
}

.tituloPagina {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 200px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    border-radius: 190px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, #258da4c2, #ffffffc7);
}

.tituloPagina img {
    top: 10px;
    bottom: 10px;
    height: 200px;
}

.curiosidades {
    display: flex;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.curiosidadesImagens {
    display: flex;
    margin-right: 15px;
    gap: 20px;
}

.curiosidades img {
    width: 270px;
    height: 360px;
    margin-left: 15px;
}

.curiosidadesText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.curiosidadesText h1 {
    font-family: "Langar", sans-serif;
    color: #4173BE;
    font-size: 45px;
    text-align: center;
}

.curiosidadesText p {
    font-size: 20px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    margin-top: 0;
}

.saibaMaisButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    background-color: #D9D9D9;
    font-family: Lalezar, sans-serif;
    font-size: 25px;
    color: #4173BE;
    cursor: pointer;
    padding-top: 6px;
    transition: background-color 0.4s ease, color 0.4s ease;
    text-decoration: none;
}

.saibaMaisButton:hover {
    background-color: #4173BE;
    color: #FFFFFF;
}

.personagens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.personagens h1,
.temporadas-titulo h1 {
    font-family: "Langar", sans-serif;
    color: #4173BE;
    font-size: 65px;
    text-shadow: 2px 2px 4px rgba(0, 4, 117, 0.3);
}

.secao {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao-div {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.secao-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
    transition: all 0.2s ease;
}

.secao-div-card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.secao-div-card img {
    width: 95%;
    height: auto;
}

.secao-div-card h3 {
    margin-bottom: 0px;
}

.secao-div-card1 {
    text-decoration: none;
    color: inherit;
    font-family: "Kanit", sans-serif;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #4173BE, transparent);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;

}

.sukuna-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.sukuna-banner {
    width: 100%;
    height: 90%;
    margin: 10px;
    padding: 0;
}

.fade-in {
    animation: fadeIn 0.9s ease forwards;
}

.slide-in {
    animation: slideIn 0.9s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 3;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.titulo-sukuna {
    font-family: "Langar", sans-serif;
    color: #4173BE;
    font-size: 65px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 4, 117, 0.3);
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.descricao-sukuna {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.283);
    border-radius: 30px;
    width: 100%;
    padding: 60px 12px 60px 12px;
    box-shadow: 2px 2px 16px 0px #4173be6b;
    font-family: "Kanit", sans-serif;


}

.secao-div-card-2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35em;
    margin: 10px;
    margin-top: 130px;
    padding: 15px;
    box-shadow: 2px 2px 16px 0px rgba(9, 0, 49, 0.445);
    border-radius: 15px;
    background-color: white;
    transition: background-color 0.9s ease;
    font-family: "Kanit", sans-serif;
}

.secao-div-card-2:hover {
    background-color: #d7d0ee;
    z-index: 1;
}

.secao-div-card-2 img {
    width: 95%;
    height: auto;
}

.secao-div-card-2 h3 {
    margin-bottom: 0px;
}

.temporadas {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: auto;
    gap: 30px;
}

.temporada-1, .temporada-2 {
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 16px 0px rgba(9, 0, 49, 0.445);
}

.temporada-2 img{
    margin-top: 60px;
    margin-bottom: 60px;
}

.temporada-1 p, .temporada-2 p {
    
    padding: 50px;
    font-family: "Kanit", sans-serif;
}

.temporada-1 h1, .temporada-2 h1 {
    flex-direction: column;
}

.temporadas img {
    width: 370px;
    height: 460px;
    margin-left: 15px;
}

footer {
    background-color: #4173bea3;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 120px;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .secao-div-card {
        width: 100%;
    }
}